services:
  postgres:
    image: postgres:17.4-alpine3.21
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data

  scribbl_backend_1:
    image: ghcr.io/singhalkarun/scribbl-backend:main
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      NODE_NAME: "1"
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
    restart: always
    depends_on:
      - postgres

  scribbl_backend_2:
    image: ghcr.io/singhalkarun/scribbl-backend:main
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      NODE_NAME: "2"
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
    restart: always
    depends_on:
      - postgres

  scribbl_backend_3:
    image: ghcr.io/singhalkarun/scribbl-backend:main
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      NODE_NAME: "3"
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
    restart: always
    depends_on:
      - postgres

  scribbl_backend_4:
    image: ghcr.io/singhalkarun/scribbl-backend:main
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      NODE_NAME: "4"
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
    restart: always
    depends_on:
      - postgres

  caddy:
    image: caddy:2.10.0-alpine
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - scribbl_backend_1
      - scribbl_backend_2
      - scribbl_backend_3
      - scribbl_backend_4

  redis:
    image: redis:7.4.3-alpine
    restart: always
    command: redis-server --notify-keyspace-events Ex
    volumes:
      - redis_data:/data

volumes:
  pgdata:
  caddy_data:
  caddy_config:
  redis_data: